body {
	font-family: Arial;
	font-size: 14px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
	color: rgb(37, 116, 255);
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: 300;
	margin-top: 0;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

button, .btn {
	border: 0;
	border-radius: 5px;
	background: rgb(52, 111, 165);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 12px;
}

button:hover, .btn:hover {
	background: rgb(70, 136, 197);
	text-decoration: none;
}

a.danger {
	color: rgb(228, 50, 50);
}

.transition {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

/*----------------------------------------*/
/*-------------- Sidebar -----------------*/
/*----------------------------------------*/

#admin-sidebar-container {
	float: left;
	width: 200px;
	padding: 10px 0;
	padding-top: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #2C3E50;
}


#admin-sidebar-container ul.menu a {
	color: white;
	font-size: 13px;
	display: block;
	padding: 10px 10px;
	position: relative;
	border-left: 2px solid #2C3E50;
}

#admin-sidebar-container ul.menu a:hover,
#admin-sidebar-container ul.menu li.active > a {
	text-decoration: none;
	border-left: 2px solid #3498DB;
	background: rgba(0, 0, 0, 0.1);
}

#admin-sidebar-container ul.sub-menu {
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	display: none;
	opacity: 0;
}
#admin-sidebar-container ul.sub-menu li a {
	padding-left: 32px;
}

#admin-sidebar-container ul.menu li.has-children > a:after {
	content: "\f138";
	display: block;
	position: absolute;
	top: 30%;
	right: 10px;
	color: rgba(250, 250, 250, 0.4);
	font-family: FontAwesome;
}

#admin-sidebar-container ul.menu li.active.has-children > a:after,
#admin-sidebar-container ul.menu li.has-children:hover > a:after {
	content: "\f13a";
}

#admin-sidebar-container ul.menu a .fa {
	margin-right: 5px;
}

#admin-sidebar-container ul.menu li.has-children:hover > .sub-menu {
	opacity: 1;
	z-index: 50;
	display: block;
	right: 0;
	width: 80%;
	background: #23313F;
}

#admin-sidebar-container ul.menu li.active.has-children > .sub-menu {
	position: relative;
	display: block;
	width: 100%;
	opacity: 1;
}




/*----------------------------------------*/
/*----------- Main content ---------------*/
/*----------------------------------------*/

/*------------- Menu -----------------*/

#admin-main-content-container {
	width: auto;
	margin-left: 200px;
	position: absolute;
	background: #E7EBEE;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

#admin-top-menu {
	height: 52px;
	padding-top: 17px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	border-bottom: 1px solid rgb(218, 218, 218);
}

#admin-top-menu .title {
	font-weight: 700;
	color: gray;
}

#admin-top-menu .title .fa {
	color: #6EC3FC;
	margin-right: 8px;
	font-size: 16px;
}

#login-menu a {
	font-weight: 700;
	position: relative;
	padding-right: 20px;
	color: gray;
}
#login-menu a:hover { text-decoration: none; }
#login-menu a:after {
	position: absolute;
	right: 5px;
	top: 13%;
	font-weight: 300;
	content: "\f0d7";
	display: block;
	font-family: FontAwesome;
}

/*------------- Content -----------------*/

.alert.alert-success {
	background: rgba(255, 255, 255, 0.87);
	margin-bottom: 10px;
	padding: 10px;
	border-left: 3px solid rgb(111, 195, 111);
	box-shadow: 1px 1px 1px rgb(175, 175, 175);
	border-radius: 5px;
	color: rgb(112, 112, 112);
}

#admin-main-content-container .content {
	padding: 0 10px;
	padding-top: 10px;
}

#admin-main-content-container .form,
#auctions-sorting .section {
	background: white;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 3px rgb(182, 182, 182);
}

#admin-main-content-container .form label {
	display: block;
	color: rgb(58, 58, 58);
}

#admin-main-content-container .form .row {
	margin-bottom: 10px;
}

#admin-main-content-container .form .input-wrap input,
#admin-main-content-container .form textarea {
	border: 1px solid rgb(190, 190, 190);
	width: 100%;
	padding: 5px 8px;
	border-radius: 5px;
}

#admin-main-content-container .form textarea {
	height: 300px;
}

#admin-main-content-container #auction-form .form textarea {
	height: 150px;
}

#product-type {
	width: 100%;
	border: 1px solid silver;
	padding: 4px 8px;
	border-radius: 3px;
	cursor: pointer;
	background: rgb(252, 252, 252);
}


/*------------- Widgets -----------------*/

#admin-main-content-container .widget-container {
	background: white;
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 3px rgb(182, 182, 182);
}

#admin-main-content-container .widget-container .title {
	padding: 5px 8px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background: rgb(240, 240, 240);
	border-bottom: 1px solid rgb(221, 221, 221);
}

#admin-main-content-container .widget-container .content {
	padding: 5px;
	font-size: 13px;
}

#upload-thumbnail-form {
	display: none;
}


/*------------- Products ----------------*/
#products_list {
	border-collapse: collapse;
	font-size: 13px;
	min-width: 80%;
}

#products_list .image {
	width: 60px;
}

#products_list .image img {
	width: 100%;
	height: auto;
}

#products_list .name {
	width: 15%;
}

#products_list .excerpt {
	width: 40%;
}

#products_list td.name,
#products_list td.excerpt {
	padding-right: 5px;
	padding-left: 5px;
}

#products_list .price,
#products_list .sale_price,
#products_list .opening_bid,
#products_list .type,
#products_list .updated_at,
#products_list .edit,
#products_list .start {
	text-align: center;
}

#products_list .products ul {
	margin: 0;
}

#products_list .start {
	width: 100px;
}

#products_list tr th,
#products_list tr td {
	padding: 5px 0;
	border-bottom: 1px solid rgb(204, 204, 204);
}

#products_list tr:nth-of-type(2n) td {
	background: rgba(255,255,255,0.3);
}

#products_list tr:hover td {
	background: rgba(255,255,255,0.7);
}


/*------------- Auction ----------------*/

ul.sortable {
	margin: 0;
	padding: 0;
	list-style-type: none;
	min-height: 30px;
}

ul.sortable.auction li {
	padding: 5px 6px;
	border: 1px solid rgb(109, 174, 211);
	border-radius: 3px;
	color: rgb(34, 49, 61);
	margin-bottom: 5px;
}

ul.sortable.auction li:hover {
	cursor: pointer;
	background: rgba(230, 230, 230, 0.5);
}

ul.sortable.auction li .thumbnail {
	width: 40px;
	height: auto;
	display: inline-block;
}

ul.sortable.auction li .thumbnail img {
	width: 100%;
	height: auto;
}

ul.sortable.auction li.ui-sortable-placeholder {
	visibility: visible !important;
	border: 1px dashed #aaaaaa;
}

#start {
	padding: 5px 6px;
	border-radius: 3px;
	border: 1px solid rgb(168, 168, 168);
	color: rgb(73, 73, 73);
}

#error-message,
#success-message {
	padding: 6px;
	margin: 5px 0;
	border-radius: 3px;
	display: none;
}

#error-message {
	border-left: 3px solid rgb(209, 101, 101);
	background: rgb(255, 231, 231);
}

#success-message {
	border-left: 3px solid rgb(92, 177, 92);
	background: rgb(224, 253, 224);
}