body {
	font-family: Arial;
	font-size: 14px;
	padding-top: 25px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	/*color: rgb(37, 116, 255);*/
	color: black;
}
a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: 300;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.transition {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}


/*------------ Header ------------------*/
#languages-container {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 396px;
	background: black;
	padding: 0 5px;
	font-size: 12px;
	background: rgb(44,44,44);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#languages-container ul li {
	float: left;
}

#languages-container ul li a {
	display: block;
	padding: 5px 6px;
	color: white;
}

#top-logo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: rgb(218, 218, 218);
	font-size: 22px;
	background: rgb(44, 44, 44);
	text-shadow: 1px 1px black;
}

#account-menu-container {
	padding: 17px 0;
}

#account-menu-container .menu > li {
	float: left;
}

#account-menu-container .menu > li a {
	display: block;
	padding: 0 10px;
	color: black;
	border-left: 1px solid black;
}
#account-menu-container .menu > li:first-of-type a {
	border-left: 0
}

.cart-icon > a:before {
	content: "\f07a";
	width: 15px;
	font-size: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


/*------------- Forms -----------------*/

.input-wrap input {
	border-radius: 3px;
	border: 1px solid rgb(148, 148, 148);
	padding: 3px 5px;
}

button, .btn {
	border: 0;
	border-radius: 5px;
	background: rgb(52, 111, 165);
	color: white;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 12px;
}

button:hover, .btn:hover {
	background: rgb(70, 136, 197);
	text-decoration: none;
}


/*--------------------------------------*/
/*----------- Main Menu ----------------*/
/*--------------------------------------*/

#main-menu-container {
	margin: 10px 0;
	padding: 3px 10px;
	background: black;
	background: -webkit-linear-gradient(rgb(44, 44, 44), rgb(78, 78, 78), rgb(44, 44, 44));
	background: -o-linear-gradient(rgb(44, 44, 44), rgb(78, 78, 78), rgb(44, 44, 44));
	background: -moz-linear-gradient(rgb(44, 44, 44), rgb(78, 78, 78), rgb(44, 44, 44));
	background: linear-gradient(rgb(44, 44, 44), rgb(78, 78, 78), rgb(44, 44, 44));
	border-radius: 5px;
}

#main-menu-container .menu > li {
	float: left;
}

#main-menu-container .menu > li a {
	display: block;
	padding: 10px 0;
	color: white;
	font-size: 14px;
	text-shadow: 1px 1px black;
}

#main-menu-container .menu > li a:hover {
	text-decoration: none;
	color: rgb(119, 238, 255);
}

#main-menu-container .menu > li a span {
	border-left: 1px solid rgb(145, 145, 145);
	display: block;
	padding: 0 25px;
}
#main-menu-container .menu > li:first-of-type a span {
	border-left: 0;
}

#menu-search-container {
	padding: 5px 0;
}

#menu-search-container .fa {
	color: rgb(240, 240, 240);
	margin-right: 5px;
	font-size: 14px;
	text-shadow: 1px 1px black;
}

#menu-search-container #search {
	width: 130px;
}

#menu-search-container #search:focus {
	width: 160px;
}

/*------------------------------------------------*/
/*--------------- Top Slider ---------------------*/
/*------------------------------------------------*/

#top-slider.flexslider .slides > li {
	overflow: hidden;
	max-height: 525px;
}

/*------------------------------------------------*/
/*---------------- Products ----------------------*/
/*------------------------------------------------*/

.section {
	padding-bottom: 30px;
	border-bottom: 1px dotted rgb(216, 216, 216);
	margin-bottom: 20px;
}

.section:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.section-title {
	font-weight: 700;
	padding: 5px 5px 0 5px;
	font-size: 18px;
	color: rgb(90, 90, 90);
	margin-bottom: 0;
	border-bottom: 2px solid rgb(134, 211, 248);
}

.view-all a {
	color: rgb(131, 131, 131);
	font-size: 13px;
}

.product-list .product {
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}

.product-list .product .title {
	font-weight: 700;
	padding: 8px 0;
	overflow: hidden;
	height: 33px;
	line-height: 21px;
}

.product-list .product .thumbnail {
	border: 1px solid rgb(209, 209, 209);
	border-radius: 5px;
	padding: 5px;
	position: relative;
	min-height: 239px;
}
.product-list .product:hover .thumbnail {
	border: 1px solid rgb(120, 206, 228);
	box-shadow: 0 0 5px rgb(132, 240, 255);
}

.product-list .product .thumbnail .img-wrap {
	max-height: 224px;
	overflow: hidden;
}

.product-list .product .thumbnail img {
	width: 100%;
	height: auto;
}

.product-list .product .thumbnail .price {
	position: absolute;
	right: 14px;
	bottom: 15px;
	padding: 5px 10px;
	background: rgba(40, 58, 114, 0.9);
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.61);
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.31);
	border-radius: 3px;
	font-size: 13px;
}

.product-list .product .description {
	border-top: 1px solid rgb(209, 209, 209);
	border-bottom: 1px solid rgb(209, 209, 209);
	padding: 9px 0 18px 0;
	margin-bottom: 5px;
	font-size: 13px;
	color: rgb(92, 92, 92);
	position: relative;
}

.product-list .product .description:after {
	content: "...";
	display: block;
	position: absolute;
	bottom: 5px;
	color: rgb(177, 177, 177);
}

.product-list .product .description .text {
	height: 32px;
	overflow: hidden;
}

.product-list .product .more-details {
	font-size: 13px;
}

.product-list .product.sale:before {
	content: "Sale";
	display: block;
	position: absolute;
	left: 26px;
	top: 9px;
	padding: 10px 5px;
	background: rgba(255, 75, 68, 0.92);
	border-bottom-right-radius: 5px;
	color: white;
	z-index: 10;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.58);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
}

.product-list .product .price del {
	display: block;
	opacity: 0.6;
	margin-bottom: 3px;
}

/*-----------------------------------------------*/
/*------------ Single Product -------------------*/
/*-----------------------------------------------*/

.single-product .thumbnail {
	position: relative;
}

.single-product .thumbnail img {
	display: block;
	border-radius: 5px;
}

.single-product .thumbnail .auction {
	background: rgba(20, 161, 240, 0.95);
	position: absolute;
	min-width: 35px;
	line-height: 45px;
	font-weight: 700;
	padding: 0 8px;
	height: 44px;
	border-bottom-left-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
	right: 15px;
	top: 0px;
	z-index: 10;
}

.single-product h1 {
	margin-top: 0;
	padding-top: 0;
}

.single-product .description {
	line-height: 19px;
	font-size: 15px;
	margin-bottom: 10px;
}

.single-product .price {
	margin-bottom: 10px;
}

.single-product .price del {
}

.single-product .price ins {
	text-decoration: none;
}



/*-----------------------------------------------*/
/*--------- Auction Products List ----------------*/
/*-----------------------------------------------*/

#auction-message {
	text-align: center;
	margin-bottom: 15px;
	font-size: 20px;
}

#auction-reminder {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px dotted rgb(216, 216, 216);
	margin-bottom: 15px;
}

#auction-message .date {
	font-weight: 700;
	color: rgb(20, 161, 240);
	text-shadow: 0px 0px 2px rgb(121, 223, 255);
	font-size: 120%;
}

.product-list.auction .product .count {
	background: rgba(20, 161, 240, 0.95);
	position: absolute;
	min-width: 35px;
	line-height: 39px;
	font-weight: 700;
	padding: 0 5px;
	height: 37px;
	border-bottom-left-radius: 5px;
	text-align: center;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
	right: 25px;
	top: 8px;
	z-index: 10;
}

.product-list.auction .product.live:before {
	content: "Live";
	display: block;
	position: absolute;
	left: 26px;
	top: 9px;
	padding: 10px 7px;
	background: rgba(255, 75, 68, 0.92);
	border-bottom-right-radius: 5px;
	color: white;
	z-index: 10;
	font-weight: 700;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.58);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.44);
}


/*------------------------------------------------*/
/*-------------- Auction Started -----------------*/
/*------------------------------------------------*/

.auction-list > .title {
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 10px;
}

.auction-list .product {
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted rgb(216, 216, 216);
}

.auction-list .product .thumbnail img {
	width: 100%;
	border-radius: 5px;
	display: block;
	height: auto;
	margin-bottom: 5px;
}

.auction-list .product .title {
	
}

.auction-main .title {
	padding: 5px 0;
	font-weight: 700;
	font-size: 17px;
}

.auction-main .current-bid {
	font-weight: 700;
	font-size: 30px;
	text-align: right;
	margin-bottom: 10px;
	color: rgb(69, 118, 151);
}

.auction-messages .message {
	padding: 10px 8px;
	margin-bottom: 5px;
	border-radius: 5px
}

.auction-messages .message.new-product {
	background: rgb(69, 118, 151);
	color: white;
}

.auction-messages .message.new-product .name {
	font-weight: 700;
}

.auction-messages .message.new-bid {
	background: rgb(243, 211, 109);
	border: 1px solid rgb(202, 176, 91);
}

#put-bid {
	text-align: right;
}

#put-bid .fa {
	margin-right: 5px;
}

#put-bid #next-bid-step-btn { background: rgb(27, 131, 27); }
#put-bid #next-bid-step-btn:hover { background: rgb(32, 139, 32); }

#put-bid #bid-btn { background: black; }
#put-bid #bid-btn:hover { background: rgb(41, 41, 41); }

#put-bid .input-wrap input {
	padding: 4px 5px;
	width: 100px;
}

/*---------------- Contact Form -----------------*/

#contact-form-container {
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}

#contact-form {
	top: 20%;
	width: 300px;
	left: 50%;
	padding: 10px 15px 0 15px;
	margin-left: -150px;
	background: white;
	border-radius: 5px;
	z-index: 100;
	position: absolute;
}

#contact-form .close:after {
	content: "\f00d";
	font-family: FontAwesome;
	display: block;
	width: 19px;
	height: 19px;
	text-align: center;
	border: 1px solid rgb(139, 139, 139);
	line-height: 16px;
	border-radius: 50%;
	color: white;
	background: black;
	cursor: pointer;
	position: absolute;
	right: -5px;
	top: -5px;
}

#contact-form label {
	display: block;
}

#contact-form input {
	border: 1px solid rgb(184, 184, 184);
	border-radius: 3px;
	padding: 3px;
	width: 100%;
	margin-bottom: 12px;
}

#contact-form input[type=submit] {
	cursor: pointer;
}

#contact-form textarea {
	width: 100%;
	border: 1px solid rgb(184, 184, 184);
	border-radius: 3px;
}

/*------------------------------------------------*/
/*------------------- Footer ---------------------*/
/*------------------------------------------------*/

#footer {
	background: rgb(44,44,44);
	color: white;
	padding: 20px 0;
	margin-top: 25px;
}

#footer .title {
	font-size: 17px;
	margin-bottom: 10px;
	font-weight: 700;
}

#footer .title span.fa {
	font-size: 22px;
}

#footer .description {
	font-size: 13px;
}

#footer .bottom {
	margin-top: 25px;
	padding-top: 15px;
	border-top: 1px solid white;
}